<div class="container">
   <div class="row">
	<div class="col-xs-4"></div>
	<div class="col-xs-4">
		<div class="modal-content">
  			<h3>Delete Product</h3>
             <ul class="errors">
  				</ul>
  				<ul>
  					Are you sure you wish to delete <b><%= @product.name %></b>?
					<%= link_to "Yes, Delete This Product", product_path(@product), method: :delete, remote: true, class: "btn btn-danger" %>
  					<%= link_to "No, Please Don't", "#", class: "btn", data: { dismiss: "modal" } %>
   				</ul>
		</div>
	</div>
	</div>
</div>
